.modal-container{
  width:100vw;
  height:100vh;
  background-color: rgba(255,255,255,0.9);
  transition:0.2s;
  margin: 40px auto;
  position: absolute;
  text-align: center;
  font-family: 'Raleway', sans-serif;  color:#474439;
  z-index: 30;
  top: 50%;
  padding-bottom: 2em;
  animation: appear 0.3s;
}
.modal-video{
  height:75vh;
  width:auto;
}
.exit-modal{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30pt;
  text-align:right;
  cursor: pointer;
  padding-right: 4%;
}
@keyframes appear{
  0%{
  opacity:0;
  }
 50%{
    opacity:0.5;

 }
  100%{
    opacity:1;

  }
}