.images-container{
  scroll-behavior: smooth;
  overflow-y: auto;
  line-height: 0;
  column-count: 3;
  column-gap: 2px; 
  height:100vh;
}
.scroll-left{
  font-family: 'Raleway', sans-serif;
  color:rgba(0,0,0,0.7);
  font-weight:300;
  margin-left: 90%;
}
